In [1]:
#Q1. Create one variable containing following type of data:
##(i) string
##(ii) list
##(iii) float
##(iv) tuple

In [2]:
var_string = "Ujjwal"

var_list = ['Ujjwal', 6, 2+4j, 20.0, [1,2,3]]

var_float = 2.7878

var_tuple = ('Ujjwal', 6, 2+4j, 20.0, [1,2,3])

In [3]:
###Q2. Given are some following variables containing data:
###(i) var1 = ‘ ‘
###(ii) var2 = ‘[ DS , ML , Python]’
###(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
###(iv) var4 = 1.

In [4]:
#(i)
var1 = ''
type(var1)

str

In [5]:
#(ii)
var2 = '[ DS , ML , Python]'
type(var2)

str

In [7]:
#(iii)
var3 = [ 'DS' , 'ML', 'Python' ]
type(var3)

list

In [8]:
#(iv)
var4 = 1.
type(var4)

float

In [9]:
###Q3. Explain the use of the following operators using an example:
###(i) /
###(ii) %
###(iii) //
###(iv) **

In [10]:
#(i) / : It is used to divide the number and gives the values.
div = 10/3
div

3.3333333333333335

In [11]:
#(ii) % : It gives you the reminder value of the 2 numbers.
reminder = 10%3
reminder

1

In [12]:
#(i) // : It gives you the flour value of the 2 numbers. It like the integer part of the divisble value
10//3

3

In [13]:
#(iv) ** : it is used for exponential or gives power or Second place number denotes the power of First place number

2 ** 3

8

In [14]:
###Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
###element and its data type.

In [15]:
lst = ['Ujjwal', 3, 20.0, 2+4j, [1,2,3], True, 20, 3.33334, 0b100, bin(10)]

for i in lst:
    print (f'Element "{i}" type is {type(i)}')

Element "Ujjwal" type is <class 'str'>
Element "3" type is <class 'int'>
Element "20.0" type is <class 'float'>
Element "(2+4j)" type is <class 'complex'>
Element "[1, 2, 3]" type is <class 'list'>
Element "True" type is <class 'bool'>
Element "20" type is <class 'int'>
Element "3.33334" type is <class 'float'>
Element "4" type is <class 'int'>
Element "0b1010" type is <class 'str'>

In [16]:
###Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
###times it can be divisible.

In [17]:
A = int(input("Enter number A: "))
temp_A = A

B = int(input("Enter number B: "))

count= 0
while temp_A%B==0:
    count+=1
    temp_A = temp_A/B
    
if count > 0:
    print(f'{A} is purely divisible by {B} in {count} number of times')
else:
    print(f'{A} is not divisible by {B}')

Enter number A:  1020
Enter number B:  2

1020 is purely divisible by 2 in 2 number of times

In [18]:
###Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
###divisible by 3 or not.

In [19]:
lst = range(25)

for i in lst:
    if i%3 == 0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

In [20]:
###Q7. What do you understand about mutable and immutable data types? Give examples for both showing
###this property.

In [23]:
### Ans:- Mutable data type like a list in which we remove, update, append or replace the index element on the bases of its index value.
lst = ['Ujjwal', 61, 26.99, 2+4j, [1,2,3]]

lst[0] = 'hello'
lst.append("Append")
lst.remove(61)

lst

['hello', 26.99, (2+4j), [1, 2, 3], 'Append']

In [25]:
### Ans:- Immutable data type like string in which we can not remove, update, append or replace the index element on the bases of its index value.
string = "Ujjwal"

string[0] = 'Y'

string

TypeError: 'str' object does not support item assignment